In [7]:
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd
from flask import Flask, jsonify
import sqlite3

In [8]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [9]:
df = pd.read_csv('Resources/airbnb.xl.csv')
df

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...
38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [10]:
df = df.dropna(how = 'any')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38331 entries, 0 to 38732
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Boroughs          38331 non-null  object
 1   Latitude          38331 non-null  float64
 2   Longitude         38331 non-null  float64
 3   Prop_Type         38331 non-null  object
 4   Min_Nights        38331 non-null  float64
 5   Host_Listing_Cnt  38331 non-null  float64
 6   Days_Available    38331 non-null  int64
 7   Review_Cnt        38331 non-null  int64
 8   Reviews30d        38331 non-null  float64
 9   Price             38331 non-null  float64
dtypes: float64(6), int64(2), object(2)
memory usage: 3.2+ MB

In [11]:
conn = sqlite3.connect('Airbnb.sqlite')
df.to_sql(name='Airbnb', con=conn, if_exists='replace', index=True)

In [12]:
engine = create_engine("sqlite:///Airbnb.sqlite")
# reflect an existing database into a new model

In [13]:
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)
Base.classes.keys()
pd.read_sql("Select * from Airbnb", con = conn)
# conn.close()

,index,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...,...
38326,38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38327,38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38328,38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38329,38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38330,38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [14]:
Base.classes.keys()

[]